#navBar
{
  list-style-type: none;
	position: fixed;
	top: 0;
  left: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
  border: 0;
	background-color: #000000;
	z-index: 1;
  visibility: visible;
  transition: 0.5s;

}
/*ul:hover
{
  opacity: 1;
}*/
.leftSide
{
	float: left;
}
li a, .dropbtn
{
	display: inline-block;
	padding: 16px;
	color: white;
	text-align: center;
	text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn
{
	background-color: #333333;
}
li.dropdown
{
	display: inline-block;
}
.dropdown-content
{
	display: none;
	position: absolute;
	background-color: #f4f4f4;
	min-width: 160px;
	box-shadow: 0px 8px 16px 8px rbga(0, 0, 0, 0.5);
	z-index: 1;
}
.dropdown-content a
{
	color: black;
	padding: 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover
{
	background-color: #999999;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.rightSide
{
  float: right;
}
#menuicon
{
  float: right;
  display: block;
  opacity: 1;
  border: 0;
  margin-top: .04%;
  margin-right: .03%;
  width: 40px;
  /* width: 2.7%; */
}
/*#menuicon:hover
{
  background-color: #bbbbbb;
}*/
#menuIconLi
{
  /* width: 42px; */
  width: 3%;
}
/* #menuIconLi:hover{
  background-color: #333333;
} */
#menuiconWhite
{
  display: block;
  float: right;
  opacity: 1;
  transition: 0.5s;
  border: 0;
  /* margin-top: 25%;
  margin-right: 10%; */
  margin: 25% 10%;
  padding: 0;
  /* width: auto; */
  /* width: 40px; */
  /* object-fit: contain; */
  width: 90%;
}
