iframe
{
display: inline-block;
padding: 1%;
/* transition: 0.10s; */
width: 200px;
height: 112.5px;
}
/* iframe:hover
{
  width: 560px;
  height: 315px;
} */
#ompWeber
{
  width: 100%;
  /* margin-top: 5%; */
}
/* #ompWeber:hover
{
  width: 100%;
  background-color: #89b8d5;
} */
#bozza
{
  width: 100%;
}
/* #bozza:hover
{
  background-color: #89b8d5;
} */
/* default size is width="560" height="315" */
p
{
  display: inline-block;
}
#ompWeberCaption
{
  visibility: hidden;
}
#bozzaCaption
{
  visibility: hidden;
}
